{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-12" align="center">
            <button type="button" class="btn btn-default" onclick="startRecording(this);"><img src="https://firefly-challengepost.netdna-ssl.com/usercontent/fill/333/222/cGhvdG9zL3Byb2R1Y3Rpb24vc29mdHdhcmVfdGh1bWJuYWlsX3Bob3Rvcy8wMDAvNDQ0LzU3My9kYXRhcy9vcmlnaW5hbC5wbmc=/logo.png?signature=eca900373eae2e4cee4c68707b25b90dd2f51aef"></button>
            <div class="panel panel-default">
                <div class="panel-body">
                    <b id="mood"></b>
                    <span id="text"></span></div>
            </div>
        </div>
    </div>
    <script src="/static/uploader.js"></script>
    <script src="/static/recorder.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
{% endblock %}
